* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  display: flex;
  width: 70%;
  height: 70%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: "Bebas Neue", cursive;
}

/* Primeiro lado*/

.one {
  display: flex;
  align-items: center;
  padding-right: 25px;
  background: black;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.linhae {
  padding-left: 10px;
}

.photo {
  border-radius: 50%;
  padding-right: 15px;
  padding-left: 30px;
}

.nome {
  color: #ffff00;
  font-style: bold;
  font-size: 25px;
}

.cargo {
  color: gray;
  font-size: 15px;
  padding-bottom: 15px;
}

.contato a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.contato i {
  color: #ffff00;
  padding-right: 5px;
}

/* Segundo lado*/

.two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: black;
  padding: 35px 15px 36px 10px;
}

.seduc {
  color: #ffff00;
  font-style: bold;
  font-size: 37px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  text-shadow: 2px 2px 0 white;
}

.empresa {
  color: white;
  font-style: bold;
  font-size: 15px;
}

.links i {
  padding-top: 15px;
  color: white;
  justify-content: space-around;
}

.links .linkedin {
  margin-right: 20px;
}

.line {
  display: flex;
  color: #ffff00;
  position: relative;
}
